.App {
    display: flex;
    height: 100%;
}

.Sidebar {
    width: 13em;
    background: rgb(243, 243, 243);
    height: 100%;
}

.Sidebar input[type="password"] {
    width:90%
}
.Sidebar input[type="text"] {

    width:90%
}

.Viewer {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

.NotificationFilter {
    display: flex;
}

.NotificationFilter > :last-child {
    margin-left: auto;
}

p.small {
    font-size: x-small;
}