.App {
    display: flex;
    height: 100%;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    width: 13em;
    background: rgb(243, 243, 243);
    height: 100%;
}

.Sidebar > :last-child {
    margin-top: auto;
}

.Sidebar input[type="password"] {
    width:90%
}
.Sidebar input[type="text"] {

    width:90%
}

.Viewer {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

.Viewer p.error {
    color:#dc2525;
    font-weight: bold;
}

.NotificationFilter {
    display: flex;
}

.NotificationFilter > :last-child {
    margin-left: auto;
}

p.small {
    font-size: x-small;
}

.ConfigList {
    list-style-type: none;
    padding-left: 0.6em;
}

.Config {
    color: gray;
}

.Config.active {
    color: black;
}
